.row {
    display: flex;
  }
  
  .column {
    flex: 33.33%;
    padding: 5px;
  }

body {
    background-color: #e2d3c4
}
head {
    background-color: #998a7d;
}
h1 {
    color: #35312f;
    text-align: center;
  }
 
h2 {
    color: #35312f;
    text-align: center;
}
a:link {
    color: #c48538;
}
a:visited {
    color: #a4413a;
}